<h1>Drivers#new</h1>
<%= form_for @driver do |form|%>
<div>
<%= form.label :first_name %> <br/>
<%= form.text_field :first_name %> <br/>
</div> <br/>
<div>
<%= form.label :last_name %> <br/>
<%= form.text_field :last_name %> <br/>
</div> <br/>

<%= form.fields_for :license do |license_builder| %>
  <div>
    <%= license_builder.label :number, 'Drivers License' %> <br/>
    <%= license_builder.text_field :number %> <br/>
  </div> <br/>
      <%= license_builder.label :state %> <br/>
    <%= license_builder.text_field :state %> <br/>
  </div> <br/>
<%end%>
<%= form.submit %>
<%end%> 